<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>Triumph of the Commons</title>
</head>
<body>
<div id="title">Triumph of the Commons</div>
<div id="subtitle">Making things better, one action at a time</div>

<div id="action">
	<div id="byline">At TIME, DATE, USER did:</div>
	<div id="description">DESCRIPTION</div>
	<div id="evidence">EVIDENCE</div>
	
	
</div>

<div id="greeting">
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
</div>
</body>
</html>