<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>Triumph of the Commons</title>
</head>
<body>
<div id="title">Triumph of the Commons</div>
<div id="subtitle">Making things better, one action at a time</div>

<div id="actions">

    {% for greeting in greetings %}
	<div id="action">
      {% if greeting.author %}
		<div id="byline">At TIME, DATE, {{ greeting.author.nickname }} did:</div>
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
	  <div id="description">DESCRIPTION</div>
	  <div id="evidence">EVIDENCE</div>
	</div>
    {% endfor %}

	
	
</div>

<div id="form">
    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
</div>
</body>
</html>